USE [master]
GO
/****** Object:  Database [Loma Blanca Final]    Script Date: 02/07/2018 11:05:09 ******/
CREATE DATABASE [Loma Blanca Final] ON  PRIMARY 
( NAME = N'Loma Blanca Final', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Loma Blanca Final.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Loma Blanca Final_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Loma Blanca Final_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Loma Blanca Final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Loma Blanca Final]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 02/07/2018 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[DNI] [int] NOT NULL,
	[ID_CLIENTES] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETALLES]    Script Date: 02/07/2018 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLES](
	[ID_DETALLA] [int] NOT NULL,
	[ID_FACTURA] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PRECIO_DETALLE] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLA] ASC,
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIRECCIONES]    Script Date: 02/07/2018 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIRECCIONES](
	[ID_DIRECCION] [int] NOT NULL,
	[DNI] [int] NOT NULL,
	[CALLE] [char](30) NOT NULL,
	[NUMERO] [int] NOT NULL,
	[BARRIO] [char](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DIRECCION] ASC,
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 02/07/2018 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[DNI] [int] NOT NULL,
	[ID_EMPLEADO] [int] NOT NULL,
	[CONTRASEÑA] [varchar](20) NOT NULL,
	[LOGIN] [char](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACTURAS]    Script Date: 02/07/2018 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FACTURAS](
	[ID_FACTURA] [int] NOT NULL,
	[ID_PEDIDO] [bigint] NOT NULL,
	[TIPO] [char](1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOCALIDADES]    Script Date: 02/07/2018 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOCALIDADES](
	[ID_LOCALIDAD] [int] NOT NULL,
	[ID_DIRECCION] [int] NOT NULL,
	[DNI] [int] NOT NULL,
	[NOMBRE_LOCALIDAD] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOCALIDAD] ASC,
	[ID_DIRECCION] ASC,
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 02/07/2018 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[ID_PEDIDO] [bigint] NOT NULL,
	[DNI] [int] NOT NULL,
	[FECHA_PEDIDO] [datetime] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONAS]    Script Date: 02/07/2018 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONAS](
	[DNI] [int] NOT NULL,
	[NOMBRE] [char](30) NOT NULL,
	[APELLIDO] [char](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 02/07/2018 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID_PRODUCTO] [int] NOT NULL,
	[NOMBRE_PRODUCTO] [varchar](30) NOT NULL,
	[PRECIO] [money] NOT NULL,
	[STOCK] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVEDORES]    Script Date: 02/07/2018 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEDORES](
	[DNI] [int] NOT NULL,
	[ID_PROVEDORES] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROVEEDOR_PRODUCTO]    Script Date: 02/07/2018 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR_PRODUCTO](
	[ID_PRODUCTO] [int] NOT NULL,
	[DNI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC,
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 02/07/2018 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[ID_PROVINCIAS] [int] NOT NULL,
	[ID_LOCALIDAD] [int] NOT NULL,
	[ID_DIRECCION] [int] NOT NULL,
	[DNI] [int] NOT NULL,
	[NOM_PROV] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROVINCIAS] ASC,
	[ID_LOCALIDAD] ASC,
	[ID_DIRECCION] ASC,
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TELEFONOS]    Script Date: 02/07/2018 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONOS](
	[ID_TELEFONO] [int] NOT NULL,
	[DNI] [int] NOT NULL,
	[NUM_TELEFONO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TELEFONO] ASC,
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO]    Script Date: 02/07/2018 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO](
	[COD_TIPO] [int] NOT NULL,
	[DNI] [int] NOT NULL,
	[TIPO] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_TIPO] ASC,
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CLIENTES] ([DNI], [ID_CLIENTES]) VALUES (44444444, 4)
INSERT [dbo].[CLIENTES] ([DNI], [ID_CLIENTES]) VALUES (55555555, 5)
INSERT [dbo].[CLIENTES] ([DNI], [ID_CLIENTES]) VALUES (66666666, 6)
INSERT [dbo].[EMPLEADOS] ([DNI], [ID_EMPLEADO], [CONTRASEÑA], [LOGIN]) VALUES (11111111, 1, N'adm1', N'admin1              ')
INSERT [dbo].[EMPLEADOS] ([DNI], [ID_EMPLEADO], [CONTRASEÑA], [LOGIN]) VALUES (22222222, 2, N'adm2', N'admin2              ')
INSERT [dbo].[EMPLEADOS] ([DNI], [ID_EMPLEADO], [CONTRASEÑA], [LOGIN]) VALUES (33333333, 3, N'adm3', N'admin3              ')
INSERT [dbo].[PERSONAS] ([DNI], [NOMBRE], [APELLIDO]) VALUES (11111111, N'JUAN MANUEL                   ', N'GARCIA                        ')
INSERT [dbo].[PERSONAS] ([DNI], [NOMBRE], [APELLIDO]) VALUES (22222222, N'SANTIAGO                      ', N'GONZALEZ                      ')
INSERT [dbo].[PERSONAS] ([DNI], [NOMBRE], [APELLIDO]) VALUES (33333333, N'EDUARDO                       ', N'RODRIGUEZ                     ')
INSERT [dbo].[PRODUCTOS] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [PRECIO], [STOCK]) VALUES (1, N'ARENA', 250.0000, N'30000')
INSERT [dbo].[PRODUCTOS] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [PRECIO], [STOCK]) VALUES (2, N'CEMENTO', 270.0000, N'15000')
INSERT [dbo].[PRODUCTOS] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [PRECIO], [STOCK]) VALUES (3, N'CAL', 350.0000, N'25000')
INSERT [dbo].[PROVEDORES] ([DNI], [ID_PROVEDORES]) VALUES (77777777, 7)
INSERT [dbo].[PROVEDORES] ([DNI], [ID_PROVEDORES]) VALUES (88888888, 8)
INSERT [dbo].[PROVEDORES] ([DNI], [ID_PROVEDORES]) VALUES (99999999, 9)
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[PERSONAS] ([DNI])
GO
ALTER TABLE [dbo].[DETALLES]  WITH CHECK ADD FOREIGN KEY([ID_FACTURA])
REFERENCES [dbo].[FACTURAS] ([ID_FACTURA])
GO
ALTER TABLE [dbo].[DIRECCIONES]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[PERSONAS] ([DNI])
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[PERSONAS] ([DNI])
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDOS] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[LOCALIDADES]  WITH CHECK ADD FOREIGN KEY([ID_DIRECCION], [DNI])
REFERENCES [dbo].[DIRECCIONES] ([ID_DIRECCION], [DNI])
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[CLIENTES] ([DNI])
GO
ALTER TABLE [dbo].[PROVEDORES]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[PERSONAS] ([DNI])
GO
ALTER TABLE [dbo].[PROVEEDOR_PRODUCTO]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[PROVEEDOR_PRODUCTO]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[PROVEDORES] ([DNI])
GO
ALTER TABLE [dbo].[PROVINCIAS]  WITH CHECK ADD FOREIGN KEY([ID_LOCALIDAD], [ID_DIRECCION], [DNI])
REFERENCES [dbo].[LOCALIDADES] ([ID_LOCALIDAD], [ID_DIRECCION], [DNI])
GO
ALTER TABLE [dbo].[TELEFONOS]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[PERSONAS] ([DNI])
GO
ALTER TABLE [dbo].[TIPO]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[EMPLEADOS] ([DNI])
GO
USE [master]
GO
